#card {
  height: 270px;
  width: 220px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 25px;
  font-size: 9px;
  color: black;
  background-color: red;
}
#display {
  display: flex;
  flex-wrap: wrap;
}
#list {
  list-style: none;
}
#main {
  color: blue;
  margin-top: 20px;
}
#main form {
  margin-left: 30%;
}
#main form input {
  height: 40px;
  width: 50%;
  border: 2px solid gray;
  border-radius: 10px;
}
#main form label {
  font-size: 25px;
  font-weight: bold;
  color: darkblue;
}
#image {
  margin-left: 35px;
  margin-top: 5px;
  height: 65%;
  width: 70%;
}
#innerDiv {
  margin-bottom: 9px;
  background-color: gold;
  height: 35%;
  border-radius: 8px;
  overflow-y: scroll;
}
#innerDiv::-webkit-scrollbar {
  display: none;
}
.paginationbttn {
  width: 90%;
  height: 40%;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationbttn a {
  padding: 4px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}
.paginationbttn a:hover {
  color: white;
  background-color: black;
}
.paginationActive a {
  color: white;
  background-color: #2b2eff;
}
